@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    margin:0;
}

.header{
    
    background-color: rgb(34, 28, 88);
    height: 100rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}
.newsBlog{
    font-size: 20rem; 
    margin:4rem;
}
.wwn{
    margin: 0;
    font-size: 13rem;
}

.topHeading{
    
    margin-top: 10rem;
    box-sizing: border-box;
    background-color: white;
    width: 15%;
    margin: auto;
    border: solid 2rem red;
    height: 60rem;
    text-align: center;
}

.wrapper{
    margin: auto;
    width:95%
}




.navbar{
    display: flex;
    align-content: center;
    justify-content: center;
    border-bottom: solid 2rem black;
}

.navbar div{
    align-content: center;
    justify-content: center;
    margin:20rem;
    width: 100%;  
}

.boxOrder1{
    order: 1;
    
}
.boxOrder2{
    order: 2;
}

.boxOrder3{
    order: 3;
}

.center{
    text-align: center;
}

.allNews{
    color: rgb(34, 28, 88);
    font-size: 40rem;
}

.dropdown{
    width:200rem;
    height: 30rem;
}
.subscribe{
    width:200rem;
    height: 30rem;
}

.subBtn{
    height: 36rem;
    font-size: 16rem;
    border: none;
    cursor: pointer;
    background-color: black;
    color: white;
}

.blog{
    display: flex;
}

.blog div{
    margin-right:20rem;
}


.blogHead{
    margin-top: 0;
}


.fakeImage{
    width: 200rem;
    height: 200rem;
}


.content{
    position: relative;
}
.btn{
    position: absolute;
    text-align: center;
    bottom:4rem;
    left:0;
    padding: 10rem;
    font-size: 14rem;
    border: none;
    cursor: pointer;
    background-color: rgb(255, 123, 0);
    color: white;
}


.footer{
    background-color: rgb(34, 28, 88);
    height: 35rem;
    width: 100%;
    margin:0;
    text-align:center;
    display: flex;
    justify-content: center;
    align-content: center;
}

.footer h3 {
    margin:auto;
    font-size: 12rem;
    
}

@media screen and (max-width:832rem) {
    body{
        background-color: rgba(233, 245, 233, 0.753);
    }
    .subscribe{
        width:100rem;
        height: 30rem;
    }
    .newsBlog{
        font-size: 18rem; 
        margin:4rem;
    }
    .wwn{
        margin: 0;
        font-size: 12rem;
    }
    .subBtn{
        height: 36rem;
        font-size: 10rem;
        border: none;
        cursor: pointer;
        background-color: black;
        color: white;
    }
    .content{
        position: relative;
        height: 230rem;
    }
    
}
@media screen and (max-width:480rem) {
    body{
        background-color: rgb(238, 226, 226);

    }
    .topHeading{
    
        margin-top: 10rem;
        box-sizing: border-box;
        background-color: white;
        width: 30%;
        margin: auto;
        border: solid 2rem red;
        height: 50rem;
        text-align: center;
    }
    .subscribe{
        width:60%;
        height: 30rem;
    }
    .navbar{
        display: flex;
        flex-direction: column;
        align-content: center;
        border-bottom: solid 2rem black;
    }
    .navbar div{
        align-content: center;
        justify-content: center;
        margin:20rem;
        width: 90%;  
    }
    .newsBlog{
        font-size: 14rem; 
        margin:4rem;
    }
    .allNews{
        color: rgb(34, 28, 88);
        font-size: 20rem;
    }
    .wrapper{
        width:100%
    }
    .dropdown{
        width:60rem;
        height: 20rem;
    }
    .fakeImage{
        width: 70rem;
        height: 70rem;
    }
    .content{
        position: relative;
        height: 300rem;
    }
    .boxOrder1{
        height: 50rem;
        order: 2;
    }
    .boxOrder2{
        margin-left: 0;
        height: 50rem;
        order: 3;
    }
    .boxOrder3{
        height: 50rem;
        order: 1;
    }

    
}

